# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Spyder project settings
.spyderproject
.spyproject

# folders
/Dataset/
/tensorboard/
/Results/
/Utils/reports/

# My docs
/VSTS.txt

#Schedule files
*.cmd
Train_AE_*.py
